@import url("https://fonts.googleapis.com/css?family=Readex%20Pro:700|Afacad:400");

body {
  font-family: "Afacad";
  font-weight: 400;
  color: #ebeef4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Readex Pro";
  font-weight: 700;
  color: #ebeef4;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem !important; /* 67.36px */
}

h2 {
  font-size: 3.158rem !important; /* 50.56px */
}

h3 {
  font-size: 2.369rem !important; /* 37.92px */
}

h4 {
  font-size: 1.777rem !important; /* 28.48px */
}

h5 {
  font-size: 1.333rem !important; /* 21.28px */
}

small {
  font-size: 1rem !important; /* 12px */
}
