body {
  margin-left: 2.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-vertical {
  align-items: center;
}

h1 {
  margin-top: 22.5%;
}

.round {
  border-radius: 50%;
}

.pfp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(200%, -50%);
}