body {
  background-color: #1c2433;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.small-icon {
  width: 18px;
  height: 18px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*~ Header */
header {
  background-color: #171c28;
  padding: 10px;
  height: 18px;
  display: justify;
  justify-content: space-between;
}

header .small-icon {
  margin-right: 10px;
}

header button {
  margin-right: 2px;
  background: none;
  border: 0;
  border-radius: 5px;
  color: #d7dce2;
  text-align: center;
}

header button:hover {
  background-color: #2e3b54;
}

header input {
  background-color: #232833;
  color: #d7dce2;
  -webkit-text-fill-color: #d7dce2;
  border: 1px solid #464b56;
  border-radius: 8px;
  padding: 5px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

header input:hover {
  background-color: #292e39;
  border: 1px solid #5d626c;
}

.bi {
  border: 0;
  border-radius: 5px;
  color: #d7dce2;
  font-size: 18px;
  margin-right: 8px;
  cursor: pointer;
}

.bi:hover {
  background-color: #2e3b54;
}

.disabled {
  color: #5c616b;
  pointer-events: none;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.bi-search {
  position: absolute;
  left: 2.75rem;
  color: #a5a6a8;
  font-size: 12px;
  transform: scale(-1, 1);
}

.red,
.yellow,
.green {
  cursor: pointer;
  transition: color 0.1s cubic-bezier(0, 0, 0, 1);
  font-size: 12px;
  height: 13px;
  margin-top: 2px;
}

.red:hover,
.yellow:hover,
.green:hover {
  background: none;
}

.red {
  color: #fc5753;
}

.red:hover {
  color: #af3c39;
}

.yellow {
  color: #fdbc40;
}

.yellow:hover {
  color: #b0832c;
}

.green {
  color: #32c747;
  margin: 0;
  margin-top: 2px;
}

.green:hover {
  color: #1e7a2b;
}

/*~ Left Sidebar */
.sidebar {
  height: calc(100vh - 60px);
  justify-content: space-between;
  background-color: #171c28;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: max-content;
}

.sidebar i,
.explorer i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .bi {
  font-size: 28px;
  width: 32px;
  margin-right: 0;
  margin: 10px;
  color: #5a647e;
}

.sidebar .bi:hover {
  background: none;
  color: #8695b7;
}

/*~ Explorer */
h3,
h4,
h5 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.67rem;
  font-weight: normal;
  color: #ffcc66;
  cursor: default;
}

h4,
h5 {
  cursor: pointer;
}

.explorer {
  background-color: #171c28;
  padding-top: 10px;
  height: calc(100vh - 70px);
  min-width: 250px;
}

.explorer .center {
  display: flex;
  align-items: center;
}

.explorer .bi {
  background: none;
  margin-left: 10px;
  transition: transform 0.1s ease-in-out;
}

.explorer i {
  width: 20px;
  height: 20px;
}

.explorer h3 {
  padding-left: 10px;
}

.bi .rotate-90 {
  transform: rotate(90deg);
}

.category {
  margin-top: 10px;
  cursor: pointer;
}

.ti-brand-html5 {
  color: #e44d25;
  font-size: 2rem;
}

.page-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 0.75rem;
  min-height: 18px;
}

.page-button:hover {
  background-color: #2e3b54;
}

.page-button h5 {
  margin-left: 6px;
  font-size: 0.8rem;
  color: #d7dce2;
}

/*~ Footer */
footer {
  background-color: #171c28;
  padding: 0 8px;
  height: 22px;
  width: calc(100vw - 16px);
  justify-content: space-between;
}

footer h5 {
  margin: 0 5px 0 2px;
  font-size: 0.8rem;
  color: #8695b7;
}

footer img {
  padding-left: 4px;
}

footer .flex-row {
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

footer .bi {
  font-size: 14px;
  color: #8695b7;
  margin: 4px;
  height: 14px;
  cursor: pointer;
  pointer-events: none;
}

footer .bi:hover {
  background: none;
}

.branch {
  padding: 2px 0;
  cursor: pointer;
}

.branch:hover {
  background-color: #1c2433;
}

.warning-error {
  cursor: pointer;
  margin-left: 5px;
}

.warning-error:hover {
  background-color: #1c2433;
}

.warning-error h5 {
  margin: 0;
  pointer-events: none;
}

.right-h5 {
  padding-right: 4px;
}

.bell {
  cursor: pointer;
  margin-left: 5px;
}

.bell:hover {
  background-color: #1c2433;
}

.bell .bi {
  width: 14px;
}

.bell i {
  pointer-events: none;
}

.github {
  cursor: pointer;
  margin-left: 5px;
}

.github:hover {
  background-color: #1c2433;
}

.github i {
  pointer-events: none;
}

.linkedin {
  cursor: pointer;
  margin-left: 5px;
}

.linkedin:hover {
  background-color: #1c2433;
}

.linkedin i {
  pointer-events: none;
}

.youtube {
  cursor: pointer;
}

.youtube:hover {
  background-color: #1c2433;
}

.youtube i {
  pointer-events: none;
}

/*~ Tabs */
.tabs {
  position: absolute;
  top: 38px;
  left: calc(52px + 250px);
}

.tab {
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #171c28;
  min-width: 100px;
}

.tab:hover {
  background-color: #2e3b54;
}

.tab h5 {
  color: #7f8696;
  font-size: 0.8rem;
  margin-left: 4px;
}

.tab.selected {
  background-color: #1c2433;
  border-bottom: 1px solid #ffcc66;
}

.tab.selected h5 {
  color: #d7dce2;
}
